<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">
  <a class="navbar-brand" href="#">
    <img src="https://cdn.glitch.com/685201ad-801a-4efb-82a8-c0d46417294f%2FBoba.png?v=1607388769863" height="48" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</span></a>
        </li>
      </ul>
    </div>
    <div style="visibility.visible" id="accountForm">
    <form class="form-inline" action="/customer_portal" method="get">
			<input class="form-control" name="id" placeholder="cust_xxxx" type="text" /> 
			<button class="btn btn-primary nav-button" type="submit">
				Account
			</button>
		</form>
    </div>
</nav>